@page
@model Demo_VNPay.Pages.PaymentResponseModel
@{
}



@if (Model.PaymentResponse != null)
{
    <div class="detail-row">
        <span class="detail-label">Success:</span>
        <span class="detail-value">@Model.PaymentResponse.Success</span>
    </div>

    <div class="detail-row">
        <span class="detail-label">Payment Method:</span>
        <span class="detail-value">@Model.PaymentResponse.PaymentMethod</span>
    </div>

    <div class="detail-row">
        <span class="detail-label">Order Description:</span>
        <span class="detail-value">@Model.PaymentResponse.OrderDescription</span>
    </div>

    <div class="detail-row">
        <span class="detail-label">Order ID:</span>
        <span class="detail-value">@Model.PaymentResponse.OrderId</span>
    </div>

    <div class="detail-row">
        <span class="detail-label">Payment ID:</span>
        <span class="detail-value">@Model.PaymentResponse.PaymentId</span>
    </div>

    <div class="detail-row">
        <span class="detail-label">Transaction ID:</span>
        <span class="detail-value">@Model.PaymentResponse.TransactionId</span>
    </div>

    <div class="detail-row">
        <span class="detail-label">Token:</span>
        <span class="detail-value">@Model.PaymentResponse.Token</span>
    </div>

    <div class="detail-row">
        <span class="detail-label">VnPay Response Code:</span>
        <span class="detail-value">@Model.PaymentResponse.VnPayResponseCode</span>
    </div>
}
else
{
    <p>No payment response available.</p>
}